.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 14px;
    height: 14px;	  
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.reload {
    font-family: Lucida Sans Unicode;
    float: right;
}

#header {
    /* empty for now */
}


#warning-old-output {
    color: red;
    font-weight: normal;
    margin-top: -20px;
    font-size:10px;
}

#currentOutput {
    font-size: 14px;
}
.prevtext {
    color: gray;
}
.suggestedtext {
    color: darkgreen;
    cursor: pointer;
}
textarea.code {
    color: #333;
    font-family: monospace;
    display: block;
}
input#prompt {
    width: 90em;
    color: red;
}


